.header-app {
    height: 3.5rem;
    background-color: #fff;
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 1700px;
    padding: 0 10rem;
}

.logo-header {
    width: 155px;
}
