html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    white-space: pre-wrap;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

.btn-enviar {
    color: $white;
    background-color: $accent;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;

    &:before {
        width: 100%;
        transition: width 0.5s linear;
    }

    span {
        &:nth-of-type(1) {
            top: -100%;
            transform: translateY(-50%);
        }

        &:nth-of-type(2) {
            top: 50%;
            transform: translateY(-50%);

            i {
                animation: loading 500ms linear infinite;
            }
        }

        &:nth-of-type(3) {
            display: none;
        }
    }
}

.bold {
    font-weight: 700;
}

.minwidth-label {
    min-width: 15%;
}
